/* Font-Related Utility Classes */

.ff-base {
	font-family: var(--ff-base);
}
.ff-accent {
	font-family: var(--ff-accent);
}

.fw-regular {
	font-weight: var(--fw-regular);
}
.fw-bold {
	font-weight: var(--fw-bold);
}

.fs-body {
	font-size: var(--fs-body);
}
.fs-nav {
	font-size: var(--fs-nav);
}
.fs-button {
	font-size: var(--fs-button);
}
.fs-subheading {
	font-size: var(--fs-subheading);
}
.fs-heading {
	font-size: var(--fs-heading);
}
.fs-heroheading {
	font-size: var(--fs-heroheading);
}