@use "../abstracts" as *;

/* Utility Classes */

//Containers

.container {
    --max-width: 1110px;
    --padding: 2rem;

    width: min(100% - var(--padding), var(--max-width));
    margin-inline: auto;
}