@use "../abstracts" as *;

/* Utility Classes and Mixins */

//Containers
.container {
    --max-width: 1110px;
    --padding: 2rem;

    width: min(100% - var(--padding), var(--max-width));
    margin-inline: auto;
}

//Rounded Border Outline
@mixin color-border ($color, $thickness, $radius) {
    border: $thickness solid $color;
    border-radius: $radius;
}

.lightPurple-border {
    @include color-border ($lightPurple, 15px, 30px);
}

.mediumPink-border {
    @include color-border ($mediumPink, 10px, 30px);
}

.white-border {
    @include color-border (white, 15px, 30px);
}

//Button
.button {

    //margin: 1em 0;

    button {
        background-color: $lightPink;
        color: $darkViolet;
        padding: .5em 2em;
        font-size: $fs-button;
        font-family: $ff-accent;
        border-radius: 30px;
        border: 7px solid $mediumPink;
    }
    
}