@use "../abstracts" as *;

/* Utility Classes and Mixins */

//Containers
.container {
    --max-width: 1110px;
    --padding: 2rem;

    width: min(100% - var(--padding), var(--max-width));
    margin-inline: auto;
}

//Rounded Border Outline
@mixin color-border ($color) {
    border: 15px solid $color;
    border-radius: 30px;
}

.lightPurple-border {
    @include color-border ($lightPurple);
}

.mediumPink-border {
    @include color-border ($mediumPink);
}

.white-border {
    @include color-border (white);
}

//Button
.button {

}