@use "../abstracts" as *;

/* Utility Classes */

//Font Familes
.ff-base {
	font-family: $ff-base;
}
.ff-accent {
	font-family: $ff-accent;
}

//Font Weights
.fw-regular {
	font-weight: $fw-regular;
}
.fw-bold {
	font-weight: $fw-bold;
}

//Font Sizes
.fs-body {
	font-size: $fs-body;
}
.fs-nav {
	font-size: $fs-nav;
}
.fs-button {
	font-size: $fs-button;
}
.fs-subheading {
	font-size: $fs-subheading;
}
.fs-heading {
	font-size: $fs-heading;
}
.fs-heroheading {
	font-size: $fs-heroheading;
}

//media query for responsive font size

	//larger screens
	@media (min-width: 50em) {
		:root {

			$fs-heading: $fs-800;
			$fs-heroheading: $fs-900;

			.fs-heading {
				font-size: $fs-heading;
			}
			.fs-heroheading {
				font-size: $fs-heroheading;
			}

		}
	}

	//mobile screens
	@media (max-width: 768px) {
		:root {

			$fs-button: $fs-500;
			$fs-subheading: $fs-500;

			.fs-button {
				font-size: $fs-button;
			}
			.fs-subheading {
				font-size: $fs-subheading;
			}

		}
	}

//Font Colors
.fc-darkViolet {
	color: $darkViolet;
}
.fc-darkPlum {
	color: $darkPlum;
}
.fc-lightPurple {
	color: $lightPurple;
}
.fc-mediumYellow {
	color: $mediumYellow;
}
.fc-lightYellow {
	color: $lightYellow;
}
.fc-mediumPink {
	color: $mediumPink;
}
.fc-lightPink {
	color: $lightPink;
}

//Font Align
.fa-center {
	text-align: center;
}

