/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

html, body {
  height: 100%;
}

/* Set core body defaults */
body {
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
}
body p {
  padding-top: 2em;
}
body section {
  padding-top: 3em;
}
body section h2 {
  position: relative;
  padding-bottom: 0.3em;
}
body section h2:after {
  content: "";
  display: block;
  width: 50%;
  height: 10px;
  border-radius: 6px;
  background: #E8A4C8;
  position: absolute;
  bottom: 0;
  left: 0;
}
body section #contact-title:after {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#hero {
  background: url(../img/heroGradient.svg) no-repeat;
  background-size: cover;
}
#hero .container .button {
  display: flex;
  justify-content: center;
}

#about .container {
  display: grid;
}
#about .container img {
  width: 30%;
}

#counselingStyle .counselingStyleLists {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-column-gap: 1em;
}
#counselingStyle .counselingStyleLists .counselingStyleBox {
  background: url(../img/heroGradient.svg) no-repeat;
  background-size: cover;
  padding: 1em 0 1em 2em;
}
#counselingStyle .counselingStyleLists #specialties {
  grid-column: 2/3;
}

/* Utility Classes */
.ff-base {
  font-family: "Raleway", sans-serif;
}

.ff-accent {
  font-family: "Comfortaa", sans-serif;
}

.fw-regular {
  font-weight: 400;
}

.fw-bold {
  font-weight: 700;
}

.fs-body {
  font-size: 1rem;
}

.fs-nav {
  font-size: 1.5rem;
}

.fs-button {
  font-size: 1.5rem;
}

.fs-subheading {
  font-size: 1.25rem;
}

.fs-heading {
  font-size: 3rem;
}

.fs-heroheading {
  font-size: 4rem;
}

.fc-darkViolet {
  color: #1D096C;
}

.fc-darkPlum {
  color: #352967;
}

.fc-lightPurple {
  color: #AFBCDC;
}

.fc-mediumYellow {
  color: #FFBE5C;
}

.fc-lightYellow {
  color: #FFDBA5;
}

.fc-mediumPink {
  color: #E8A4C8;
}

.fc-lightPink {
  color: #EAC8D9;
}

.fa-center {
  text-align: center;
}

/* Utility Classes */
.bc-darkViolet {
  background-color: #1D096C;
}

.bc-darkPlum {
  background-color: #352967;
}

.bc-lightPurple {
  background-color: #AFBCDC;
}

.bc-mediumYellow {
  background-color: #FFBE5C;
}

.bc-lightYellow {
  background-color: #FFDBA5;
}

.bc-mediumPink {
  background-color: #E8A4C8;
}

.bc-lightPink {
  background-color: #EAC8D9;
}

/* Utility Classes and Mixins */
.container {
  --max-width: 1110px;
  --padding: 2rem;
  width: min(100% - var(--padding), var(--max-width));
  margin-inline: auto;
}

.lightPurple-border {
  border: 15px solid #AFBCDC;
  border-radius: 30px;
}

.mediumPink-border {
  border: 10px solid #E8A4C8;
  border-radius: 30px;
}

.white-border {
  border: 15px solid white;
  border-radius: 30px;
}

/*# sourceMappingURL=main.css.map */
