/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

html, body {
  height: 100%;
}

/* Set core body defaults */
body {
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

html {
  overflow-x: hidden;
}
html body {
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
}
html body p {
  margin-bottom: 1rem;
}
html body section:not(#hero) {
  padding: 3rem 1rem 2.5rem;
}
html body section:not(#hero) h2 {
  position: relative;
  padding-bottom: 0.3em;
  margin-bottom: 1.5rem;
  width: fit-content;
}
html body section:not(#hero) h2:after {
  content: "";
  display: block;
  width: calc(100% + 5rem);
  max-width: calc(100vw - 4rem);
  height: 10px;
  border-radius: 6px;
  background: #E8A4C8;
  position: absolute;
  bottom: 0;
  left: 0;
}
html body section:not(#hero) .centerAlignHeading {
  margin-inline: auto;
}
html body section:not(#hero) .centerAlignHeading:after {
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

header .navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 5rem;
  padding-right: 1rem;
  top: 0;
  position: fixed;
  width: calc(100vw - 2rem);
  margin: 1rem 0.5rem;
  z-index: 1;
}
header .navbar ul {
  display: flex;
}
header .navbar ul li {
  padding: 1em;
}
header .navbar ul li a {
  position: relative;
  text-decoration: none;
}
header .navbar ul li a:before {
  content: "";
  display: block;
  background-color: #E8A4C8;
  width: 0;
  height: 0.25rem;
  position: absolute;
  top: auto;
  bottom: -5px;
  left: 0;
  right: 0;
  margin: auto;
  transition: 0.2s ease all;
  z-index: 1;
  border-radius: 30px;
}
header .navbar ul li a:hover:before, header .navbar ul li a:active:before {
  width: 100%;
  bottom: -5px;
}
header .mobileNavbar {
  display: none;
}
@media (max-width: 768px) {
  header .navbar {
    display: none;
  }
  header .mobileNavbar {
    overflow: hidden;
    display: block;
  }
  header .mobileNavbar .mobileNavContent {
    display: none;
  }
  header .mobileNavbar .pancake {
    float: right;
    display: block;
  }
  header .mobileNavbar .responsive {
    position: relative;
    display: block;
  }
  header .mobileNavbar .responsive .pancake {
    position: absolute;
    right: 0;
    top: 0;
  }
}

/* Classes for Specific Components  */
.container {
  --max-width: 1110px;
  --padding: 2rem;
  width: min(100% - var(--padding), var(--max-width));
  margin-inline: auto;
}

.lightPurple-border {
  border: 15px solid #AFBCDC;
  border-radius: 30px;
}

.mediumPink-border {
  border: 10px solid #E8A4C8;
  border-radius: 30px;
}

.white-border {
  border: 15px solid white;
  border-radius: 30px;
}

.button button {
  background-color: #EAC8D9;
  color: #1D096C;
  padding: 0.4rem 2rem;
  font-size: 1.5rem;
  font-family: "Comfortaa", sans-serif;
  border-radius: 30px;
  border: 7px solid #E8A4C8;
}

.gradientGridBackround {
  position: relative;
  background-size: cover;
  overflow: hidden;
  isolation: isolate;
  background-position: bottom;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' opacity='.7' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='20' height='20' patternTransform='scale(3) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 100%, 0)'/><path d='M 10,-2.55e-7 V 20 Z M -1.1677362e-8,10 H 20 Z'  stroke-width='0.5' stroke='hsla(0, 0%, 100%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>"), linear-gradient(45deg, rgb(232, 164, 200) 0%, rgb(175, 188, 220) 100%);
}

#home #hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  border-radius: 30px;
  max-width: calc(100vw - 2rem);
  height: calc(100vh - 99px);
  margin-inline: auto;
  overflow: visible;
  margin-top: 116px;
}
#home #hero::before {
  content: "";
  background-image: url(../img/medSparkles.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 250px;
  width: 250px;
  top: 2rem;
  bottom: auto;
  left: 2rem;
  right: auto;
  position: absolute;
  z-index: 1;
}
#home #hero::after {
  content: "";
  background-image: url(../img/lgSparkles.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 250px;
  width: 250px;
  top: auto;
  bottom: -125px;
  left: auto;
  right: 2rem;
  position: absolute;
  z-index: 1;
}
#home #hero .container {
  position: relative;
  z-index: 1;
}
#home #hero .container .button {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0 0;
}
#home #hero .cloudContainer {
  opacity: 0.8;
}
#home #hero .cloudContainer img {
  width: 35%;
  max-width: 800px;
}
#home #hero .cloudContainer :first-child {
  position: absolute;
  bottom: 0;
}
#home #hero .cloudContainer :last-child {
  position: absolute;
  bottom: 0;
  right: 0;
}
@media (max-width: 768px) {
  #home #hero {
    border-radius: 0;
    max-width: 100vw;
    height: 100vh;
  }
  #home #hero::before {
    content: "";
    background-image: url(../img/medSparkles.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 140px;
    width: 134px;
    top: 6rem;
    bottom: auto;
    left: 1rem;
    right: auto;
    position: absolute;
    z-index: 1;
  }
  #home #hero::after {
    content: "";
    background-image: url(../img/lgSparkles.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 166px;
    width: 163px;
    top: auto;
    bottom: -63px;
    left: auto;
    right: 1rem;
    position: absolute;
    z-index: 1;
  }
  #home #hero h1 {
    padding-top: 3rem;
  }
  #home #hero p {
    padding-top: 1rem;
  }
  #home #hero .cloudContainer img {
    width: 75vw;
  }
  #home #hero .cloudContainer :first-child {
    bottom: auto;
    left: 0;
    top: 1rem;
  }
  #home #hero .cloudContainer :last-child {
    bottom: 0;
    right: 0;
  }
}
#home #about .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-column-gap: 1.5em;
}
#home #about .container img {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 60em) {
  #home #about .container img {
    width: 80%;
  }
}
#home #counselingStyle .counselingStyleLists {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 1.5em;
}
#home #counselingStyle .counselingStyleLists .counselingStyleBox {
  background: url(../img/purplePinkGradient.svg) no-repeat;
  background-size: cover;
  padding: 1em 0 1em 2em;
}
@media (min-width: 60rem) {
  #home #counselingStyle .counselingStyleLists {
    grid-template-columns: 1fr 2fr 2fr 1fr;
  }
  #home #counselingStyle .counselingStyleLists #specialties {
    grid-column: 2/3;
  }
}
#home #contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  overflow: visible;
  max-width: 100vw;
}
#home #contact .button {
  margin: 1em 0;
}
#home #contact::before {
  content: "";
  background-image: url(../img/lgSparkles.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 250px;
  width: 250px;
  top: 2rem;
  bottom: auto;
  left: 2rem;
  right: auto;
  position: absolute;
  z-index: 1;
}
#home #contact::after {
  content: "";
  background-image: url(../img/phone.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 250px;
  width: 220px;
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
  position: absolute;
  z-index: 1;
}
@media (max-width: 768px) {
  #home #contact::before {
    content: "";
    background-image: url(../img/lgSparkles.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 140px;
    width: 134px;
    top: -3rem;
    bottom: auto;
    left: 1rem;
    right: auto;
    position: absolute;
    z-index: 1;
  }
  #home #contact::after {
    content: "";
    background-image: url(../img/phone.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 175px;
    width: 127px;
    top: auto;
    bottom: -3rem;
    left: auto;
    right: 0;
    position: absolute;
    z-index: 1;
  }
}
@media (max-width: 768px) {
  #home #contact {
    height: 100vh;
  }
}
#home footer {
  border: 15px solid white;
  border-radius: 5em;
}
#home footer p {
  margin-top: 1rem;
}

/* Utility Classes */
.ff-base {
  font-family: "Raleway", sans-serif;
}

.ff-accent {
  font-family: "Comfortaa", sans-serif;
}

.fw-regular {
  font-weight: 400;
}

.fw-bold {
  font-weight: 700;
}

.fs-body {
  font-size: 1rem;
}

.fs-nav {
  font-size: 1.5rem;
}

.fs-button {
  font-size: 1.5rem;
}

.fs-subheading {
  font-size: 1.25rem;
}

.fs-heading {
  font-size: 2rem;
}

.fs-heroheading {
  font-size: 3rem;
}

@media (min-width: 50em) {
  :root .fs-heading {
    font-size: 3rem;
  }
  :root .fs-heroheading {
    font-size: 5.313rem;
  }
}
@media (max-width: 768px) {
  :root .fs-button {
    font-size: 1.25rem;
  }
  :root .fs-subheading {
    font-size: 1.25rem;
  }
}
.fc-darkViolet {
  color: #1D096C;
}

.fc-darkPlum {
  color: #352967;
}

.fc-lightPurple {
  color: #AFBCDC;
}

.fc-mediumYellow {
  color: #FFBE5C;
}

.fc-lightYellow {
  color: #FFDBA5;
}

.fc-mediumPink {
  color: #E8A4C8;
}

.fc-lightPink {
  color: #EAC8D9;
}

.fa-center {
  text-align: center;
}

/* Utility Classes */
.bc-darkViolet {
  background-color: #1D096C;
}

.bc-darkPlum {
  background-color: #352967;
}

.bc-lightPurple {
  background-color: #AFBCDC;
}

.bc-mediumYellow {
  background-color: #FFBE5C;
}

.bc-lightYellow {
  background-color: #FFDBA5;
}

.bc-mediumPink {
  background-color: #E8A4C8;
}

.bc-lightPink {
  background-color: #EAC8D9;
}

/*# sourceMappingURL=main.css.map */
