//used to figure out placement of objects/sections
$section-border: 2px solid purple;

:root {
	--darkViolet: #1D096C;
	--darkPlum : #352967;
	--lightPurple:  #AFBCDC;

	--mediumYellow: #FFBE5C;
	--lightYellow: #FFDBA5;

	--mediumPink: #E8A4C8;
	--lightPink: #EAC8D9;

	--ff-primary: 'Raleway', sans-serif;
	--ff-heading: 'Comfortaa', sans-serif;

	--fw-regular: 400;
	--fw-bold: 700;

	--fs-400: 1rem; //16px
	--fs-500: 1.25rem; //20px
	--fs-600: 1.5rem; //24px
	--fs-700: 3rem; //48px
	--fs-800: 4rem; //64px
	--fs-900: 5.313rem; //85px

	--fs-body: var(--fs-400);
	--fs-nav: var(--fs-600);
	--fs-button: var(--fs-600);
	--fs-subheading: var(--fs-500);
	--fs-heading: var(--fs-700);
	--fs-heroheading: var(--fs-800);

}

//media query for responsive font size
@media (min-width: 50em){
	:root{

	--fs-heading: var(--fs-800);
	--fs-heroheading: var(--fs-900);

	}
}

//* Andy Bell CSS Reset Code src=(https://andy-bell.co.uk/a-more-modern-css-reset/) //*

	/* Box sizing rules */
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	/* Prevent font size inflation */
	html {
		-moz-text-size-adjust: none;
		-webkit-text-size-adjust: none;
		text-size-adjust: none;
	}

	/* Remove default margin in favour of better control in authored CSS */
	* {
		margin: 0;
		padding: 0;
		font: inherit;
	}

	/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
	ul[role='list'],
	ol[role='list'] {
		list-style: none;
	}

	html, body {
		height: 100%;
	}

	/* Set core body defaults */
	body {
		line-height: 1.5;
	}

	/* Set shorter line heights on headings and interactive elements */
	h1, h2, h3, h4,
	button, input, label {
		line-height: 1.1;
	}

	/* Balance text wrapping on headings */
	h1, h2,
	h3, h4 {
		text-wrap: balance;
	}

	/* A elements that don't have a class get default styles */
	a:not([class]) {
		text-decoration-skip-ink: auto;
		color: currentColor;
	}

	/* Make images easier to work with */
	img,
	picture,
	svg {
		max-width: 100%;
		display: block;
	}

	/* Make sure textareas without a rows attribute are not tiny */
	textarea:not([rows]) {
		min-height: 10em;
	}

	/* Anything that has been anchored to should have extra scroll margin */
	:target {
		scroll-margin-block: 5ex;
	}

//*End of Andy Bell Reset Code *//

body{
	margin: 0;
	font-size: 16 px;
	font-family: sans-serif;
}


/*header {
	position: sticky;
	top: 0;

	nav {

		ul {
			list-style: none;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: flex-end;

			li {
				padding: 1.5em;
			}
		}
	} 

}
*/

#wrapper {
	max-width: 960px;
	margin: 0 auto;

	#landing {
		display: grid;
		justify-content: center;
		border: $section-border;

		img {
			justify-self: center;
		}

		h1, p {
			text-align: center;
		}

	}

	#about {
		display:grid;
		align-content: center;
		border: $section-border;
	  }
}

/* Utility Classes */

.ff-primary {
	font-family: var(--ff-primary);
}
.ff-heading {
	font-family: var(--ff-heading);
}

.fw-regular {
	font-weight: var(--fw-regular);
}
.fw-bold {
	font-weight: var(--fw-bold);
}

.fs-body {
	font-size: var(--fs-body);
}
.fs-nav {
	font-size: var(--fs-nav);
}
.fs-button {
	font-size: var(--fs-button);
}
.fs-subheading {
	font-size: var(--fs-subheading);
}
.fs-heading {
	font-size: var(--fs-heading);
}
.fs-heroheading {
	font-size: var(--fs-heroheading);
}