    
$ff-base: 'Raleway', sans-serif;
$ff-accent: 'Comfortaa', sans-serif;

$fw-regular: 400;
$fw-bold: 700;

$fs-400: 1rem; //16px
$fs-500: 1.25rem; //20px
$fs-600: 1.5rem; //24px
$fs-700: 2rem; //48px
$fs-800: 3rem; //64px
$fs-900: 5.313rem; //85px 

$fs-body: $fs-400;
$fs-nav: $fs-600;
$fs-button: $fs-600;
$fs-subheading: $fs-500;
$fs-heading: $fs-700;
$fs-heroheading: $fs-800;


