@use "../abstracts" as *;  
header {

    .navbar {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        @include color-border (white, 1rem, 5rem);
        padding-right: 1rem;
      

        ul {
            display: flex;

            li {

                padding: 1em;

                a {
                    position: relative;
                    text-decoration: none;

                        &:before {
                            content: "";
                            display: block;
                            background-color: $mediumPink;
                            width: 0;
                            height: .25rem;
                            position: absolute;
                            top: auto;
                            bottom: -5px;
                            left: 0;
                            right: 0;
                            margin: auto;
                            transition: 0.2s ease all;
                            z-index: 1;
                            border-radius: 30px;
                    }
    
                }//end of a

                a:hover:before {
                    width: 100%;
                    bottom: -5px;
                }// end of a:hover    

            }//end of li
            
        }//end of ul     

    }//end of navbar

    .mobileNavbar {
        display: none;
    }//end of mobileNavbar

    //start of nav mobile styles
    @media (max-width: 768px ) { 

        .navbar {
            display: none;
        }//end of navbar

        .mobileNavbar {
            overflow: hidden;
            display: block;

            .mobileNavContent {
                display: none;
            }

            .pancake {
                float: right;
                display: block;
            }

            .responsive {
                position: relative;
                display: block;

                .pancake {
                    position: absolute;
                    right: 0;
                    top: 0;
                }

            }
        }//end of mobileNavbar

    }//end of nav mobile styles
    
} //end of header 