@use "../abstracts" as *;  
header {

    .navbar {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 1rem;
        top: 0;
        left: 0;
        right: 0;
        position: fixed;
        width: calc(100vw - 2rem);
        margin: 1rem auto;
        z-index: 1;
            
      
        ul {
            display: flex;

            li {

                padding: 1em;  

            }//end of li
            
        }//end of ul     

    }//end of navbar

    .navbar, .mobileNavbar {

        li {

            a {
                position: relative;
                text-decoration: none;
    
                    &:before {
                        content: "";
                        display: block;
                        background-color: $mediumPink;
                        width: 0;
                        height: .25rem;
                        position: absolute;
                        top: auto;
                        bottom: -5px;
                        left: 0;
                        right: 0;
                        margin: auto;
                        transition: 0.2s ease all;
                        z-index: 1;
                        border-radius: 30px;
                }
    
            }//end of a
    
            a:hover:before, a:active:before {
                width: 100%;
                bottom: -5px;
            }// end of a:hover 

        }
         
    }

    .mobileNavbar {
        display: none;
    }//end of mobileNavbar

    //start of nav mobile styles
    @media (max-width: 768px ) { 

        .navbar {
            display: none;
        }//end of navbar

        .mobileNavbar { 
            overflow: hidden;
            display: block;
            

            .pancake {
                position: fixed;
                top: 1.5rem;
                right: 1.5rem;
                z-index: 2;
                font-size: xx-large;
                color: $mediumYellow;
            }

            .mobileNavContent {
                display: none;
                position: fixed;
                width: 100vw;
                z-index: 1;
                padding: 2rem 1rem;

                li {
                    text-align: center;
                    padding: .75rem 0;
                    border-bottom: 2px solid #261D48;

                    a {
                        text-decoration: none;

                        &:active {
                            color: $lightPink;
                        }
                    }
                }

                .button {
                    margin: 0 auto;
                    display: flex;
                    justify-content: center;
                    margin: .75rem 0 auto;
                }
            }

            .responsive {
                position: relative;
                display: block;

            }

        }//end of mobileNavbar

    }//end of nav mobile styles
    
} //end of header 