@use "../abstracts" as *;

//used to figure out placement of objects/sections
$section-border: 2px solid purple;

#hero {

    //background-image: linear-gradient(to right, $lightPink, $lightPurple);

    background: url(../img/heroGradient.svg) no-repeat;
    background-size: cover;

    .container{

        .button {
            display: flex;
            justify-content: center;
        }
    }

}

#about {
    img {
        width: 30%;
    }
}

