@use "../abstracts" as *;

body {
    font-size: $fs-body;
    font-family: $ff-base;
} 




//media query for responsive font size
@media (min-width: 50em){
	:root{

		$fs-heading: $fs-800;
		$fs-heroheading: $fs-900;

	}
}
