@use "../abstracts" as *;

html {
	overflow-x: hidden;
	scroll-behavior: smooth !important;

	body {
		font-size: $fs-body;
		font-family: $ff-base;

		.desktop-hide {
			display: none;
		}

		p {
			margin-bottom: 1rem; 
		}

		section:not(#hero) {
	
			padding: 3rem 1rem 2.5rem;
			scroll-margin-top: 3rem; 

			a {
				color: $darkViolet;
				font-weight: $fw-bold;
			} 

			h2 {
				position: relative;
				padding-bottom: .3em;
				margin-bottom: 1.5rem;
				width: fit-content;

				&:after {
					content: '';
					display: block;
					width: calc(100% + 5rem);
					max-width: calc(100vw - 4rem);
					height: 10px;
					border-radius: 6px;
					background: $mediumPink;
					position: absolute;
					bottom: 0;
					left: 0;
				}
				
			}

			@media (max-width: 768px ) {

				h2 {
					padding-bottom: .6em;
				}
			}

			.centerAlignHeading {

				margin-inline: auto;

				&:after {
					left: 50%;
					right: 50%;
					transform: translate(-50%, -50%);
				}

			}

			h3 {
			padding-bottom: 0.5rem;
			}

			
			
		
		}
	} 

	//Classes to hide/show content on mobile
	@media (max-width: 768px ) {

        body {

            .desktop-hide {
				display: block;
			}

			.mobile-hide {
				display: none;
			}
			
        }
    }

} 



